body {
	/*font-family: Georgia;*/
	font-family: monospace;
	background-color: #172727;
	color: LimeGreen;
	margin: 2rem;
}

tt {
	background-color: LimeGreen;
	font-weight: bold;
	color: #172727;
	padding: 0 0.33em;
}

table {
	border-collapse: collapse;
	border-color: LimeGreen;
	font-size: 100%;
}

td {
	padding: 0.25rem;
}

th {
	padding: 0 1rem;
	background-color: LimeGreen;
	border-color: #172727;
	color: #172727;
}

hr {
	border-color: LimeGreen;
}

a, a:visited {
	color: LightGreen;
	font-weight: bold;
}
